<!DOCTYPE html>
<html>
<head>
  <title>WodApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag href="http://www.crossfitmagnus.com/wp-content/themes/magnus/favicon.png" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<%= render partial: "shared/navbar" %>
  <div class="container">
    <%= render partial: "shared/header" %>
    <%= yield %>
  </div>

</body>
</html>
